<div ng-controller="chatController" class="content chat-content" ng-class="{active : activetool === 'CHAT'}">  
    
    <div class="header navbar navbar-inverse ">
        <div class="navbar-inner">
            <div class="header-quick-nav">
                <div class="pull-left">
                    <h3><i class="fa fa-pencil"></i> Discussions</h3>
                </div>
                <div class="pull-right">
                    <ul class="nav quick-section">
                        <li class="quicklinks">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <div class="iconset top-menu-toggle-dark"></div>
                            </a>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li role="presentation" class="dropdown-header">Liste des salles</li>
                                <li ng-repeat="chatroom in chatrooms">
                                    <a href="#" ng-click="changeChatroom(chatroom)">
                                        {{ chatroom.name }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="chat-area">
        <div class="chat-window-wrapper" id="messages-wrapper">
            <div class="chat-messages">
                <div class="user-details-wrapper" >

                    <div class="user-profile">
                        <img src="/images/profiles/icon.png" alt="" data-src="/images/profiles/icon.png" width="35" height="35">
                    </div>

                    <div class="user-details">
                        <div class="bubble">    
                            Bienvenue sur la chat {{ current.name }}. Vous pouvez dès à présent poster vos messages.
                        </div>
                    </div>                  
                    <div class="clearfix"></div>
                    <div class="sent_time off"></div>
                </div>  
                <div ng-repeat="message in current.messages | toArray | orderBy:'+createdAt'"
                     ng-class="{'pull-right':message.user.id === user.id}"
                     class="user-details-wrapper">
                    <div ng-class="{'text-right text-success' : message.user.id == user.id, 'text-info' : message.user.id !== user.id}" class="m-b-5">
                        <span class=" semi-bold">
                            {{ getUsername(message.user) }}
                        </span>
                    </div>
                    <div class="user-profile avatar {{message.user.avatar.c + ' avatar-'+message.user.avatar.a}}" ng-class="{ownm : message.user.id == user.id}" >
                    </div>

                    <div class="user-details">
                        <div ng-class="{sender:message.user.id === user.id}" class="bubble">    
                            {{ message.message }}
                        </div>
                    </div>                  
                    <div class="clearfix"></div>
                    <div class="sent_time off">{{question.createdAt | date:'mediumTime'}}</div>
                </div>     

            </div>
        </div>
        <div class="chat-input-wrapper">
            <textarea ng-model="text" id="chat-message-input" class="quick-note" placeholder="Tapez votre message"></textarea>
            <button ng-class="{disabled:!text}" ng-click="post()" class="btn btn-primary send-chat"><i class="fa fa-caret-right arrow"></i><i class="fa fa-chevron-right"></i> Envoyer</button>
        </div>

    </div>
</div>