<div ng-controller="chatController" class="content chat-content" ng-class="{active : activetool === 'chat'}">  
    <div class="chat-area">
        <div class="chat-window-wrapper" id="messages-wrapper">
            <div class="chat-messages">
                <div class="user-details-wrapper" >

                    <div class="user-profile">
                        <img src="/images/profiles/icon.png" alt="" data-src="/images/profiles/icon.png" width="35" height="35">
                    </div>

                    <div class="user-details">
                        <div class="bubble">    
                            Bienvenue sur la chat {{ current.name }}. Vous pouvez dès à présent poster vos messages.
                        </div>
                    </div>                  
                    <div class="clearfix"></div>
                    <div class="sent_time off"></div>
                </div>  
                <div ng-repeat="message in current.messages | toArray | orderBy:'+createdAt'"
                     ng-class="{'pull-right':message.user.id === user.id}"
                     class="user-details-wrapper">
                    <div ng-class="{'text-right text-success' : message.user.id == user.id, 'text-info' : message.user.id !== user.id}" class="m-b-5">
                        <span class=" semi-bold">
                            {{ getUsername(message.user) }}
                        </span>
                    </div>
                    <div class="user-profile avatar {{message.user.avatar.c + ' avatar-'+message.user.avatar.a}}" ng-class="{ownm : message.user.id == user.id}" >
                    </div>

                    <div class="user-details">
                        <div ng-class="{sender:message.user.id === user.id}" class="bubble">    
                            {{ message.message }}
                        </div>
                    </div>                  
                    <div class="clearfix"></div>
                    <div class="sent_time off">{{question.createdAt | date:'mediumTime'}}</div>
                </div>     

            </div>
        </div>
        <div class="chat-input-wrapper">
            <textarea ng-model="text" id="chat-message-input" class="quick-note" placeholder="Tapez votre message"></textarea>
            <button ng-class="{disabled:!text}" ng-click="post()" class="btn btn-primary send-chat"><i class="fa fa-caret-right arrow"></i><i class="fa fa-chevron-right"></i> Envoyer</button>
        </div>

    </div>

    <div class="sider right">
        <!-- BEGIN FAVORITES WIDGET -->
        <ul class="chatrooms-list">
            <li ng-repeat="chatroom in chatrooms">
                <a href="#" ng-click="changeChatroom(chatroom)">
                    <i ng-class="{'fa-users' : chatroom.type == 1, 'fa-user-md' : chatroom.type == 2}" class="fa"></i>
                    <span>{{ chatroom.name }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>