<div ng-controller="liveController" class="content live-content">  
    <div class="slider-container">
        <div id="slides" class="presentation-slide">
            <div ng-repeat="slide in presentation.slides" class="slide slide-animation"
                ng-hide="!isCurrentSlide($index)"
                ng-swipe-right="previous()"
                ng-swipe-left="next()"
                ng-bind-html="safeHTML(slide.content)"></div>
        </div>
    </div>

    <div class="live-thumb">
        <!-- BEGIN FAVORITES WIDGET -->
        <div class="side-widget">
            <div class="side-widget-content">
                <div ng-repeat="slide in presentation.slides"
                     ng-show="$index <= presentation.current"
                     class="active dot-item">
                    <img ng-src="/images/slides/generated/small_{{ presentation.id }}_{{ slide.id }}.png"/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
     <div class="live-info p-t-15 p-l-20" >

        <div class="text-center"><img ng-show="conference.logo"
             ng-src="{{conference.logo}}"
             class="p-5-10"
             width="130" style="float: right; margin-right: 30px;"/></div>
        <h3>{{ presentation.name }}</h3>
        <p class="text-center">{{ presentation.description }}</p>
        <p><i>Par {{ presentation.authors }}</i></p>
        <div class="counter"> 
            <span>00:00</span> <i class="fa fa-clock-o"></i>
        </div>
    </div> 


    <div class="footer-widget"> 

        <div class="progress transparent progress-small no-radius no-margin">
            <div data-percentage="{{ shared.liveProgress }}%"
                    style="width: {{ shared.liveProgress }}%;" 
                    class="progress-bar progress-bar-success animate-progress-bar"></div>        
        </div>
        <div class="pull-right">
            <div class="details-status">
                <span>{{(presentation.current*100)/presentation.slides.length}}</span>%
            </div>  
        </div>
    </div>

    <div class="fullscreen-layer"></div>
    <a href="#" class="close-fs"><i class="fa fa-times"></i></a>
    <div class="slides-nav-fullscreen" style="display:none;">
        <a class="sn-prev" data="prev" href="#"><i class="fa fa-chevron-left fa-4x"></i></a>
        <a class="sn-next" data="next" href="#"><i class="fa fa-chevron-right fa-4x"></i></a>
    </div>

</div>