<div ng-controller="LiveController" class="content live-content">  

    <div class="live-header">
        <h3>{{ ::presentation.name }}</h3>
        <img ng-show="conference.logo"
             ng-src="{{ ::conference.logo }}"
             class="p-5-10 valign society-logo"
             height="42"/>
        <div class="clearfix"></div>
    </div>

    <div class="slider-container">
        <div id="slides" class="presentation-slide">
            <div ng-repeat="slide in ::presentation.slides track by slide.id" class="slide slide-animation"
                 ng-class="'slide-index-' + $index"
                 ng-hide="!isCurrentSlide($index)"
                 ng-swipe-right="previous()"
                 ng-swipe-left="next()"
                 ng-bind-html="safeHTML( slide.content )"></div>
        </div>
    </div>
    
     <div class="live-info p-l-20" ng-hide="$parent.isfullscreen">

        <p class="text-center m-t-30 m-r-30">
            {{ ::presentation.description }}
        </p>

    </div> 

    <div class="live-thumb">
        <div class="side-widget">
            <div class="side-widget-content"
                 ng-style="{width: ((presentation.current + 1) * 135)+'px', left: sl+'px'}">

                <div ng-repeat="slide in ::presentation.slides track by slide.id"
                     ng-show="$index <= presentation.current"
                     ng-class="{ 'active': isCurrentSlide($index) }"
                     ng-click="goToSlide($index)"
                     class="dot-item">
                    <img ng-src="http://<%= sails.config.application.s3 %>/thumbnails/{{ conference.id }}/{{ presentation.id }}/{{ slide.id }}.png"/>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="footer-widget"> 

        <div class=" fullscreen-toast"><div ng-click="fullscreen()" class="toast" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); bottom: 50px; opacity: 1; cursor: pointer;"><%= __('viewer.live.leave') %></div></div>

        <div class="pull-left">
            <div class="details-status">
                <span>{{ shared.liveProgress }}</span>%
            </div>  
        </div>

        <div class="progress progress-small transparent no-radius no-margin">
            <div class="determinate"
                 style="width: {{ shared.liveProgress }}%;"></div>        
        </div>

        <div class="pull-right">
            <a class="fullscreen" ng-click="fullscreen()"> <i class="mdi-action-aspect-ratio"></i> </a>
        </div>

    </div>
</div>