<div class="content notes-content" style="opacity: 0;">  
    <div class="page-title">
        <h3><i class="fa fa-pencil"></i> Notes</h3>
    </div>

    <textarea id="text-editor" placeholder="Tapez vos notes ici" class="form-control" rows="10"></textarea>

    <div class="sider right">
        <!-- BEGIN FAVORITES WIDGET -->
        <ul class="notes-list">
            <li>
                <a href="#">
                    <i class="fa fa-paperclip"></i>
                    <span>Note 1</span>
                </a>
            </li>
            <li class="add-note">
                <a href="#">
                    <!-- <i class="fa fa-plus"></i> -->
                    <img src="/images/plussign.png">
                </a>
            </li>
        </ul>

        <button class="btn btn-primary send-notes" data-toggle="modal" data-target="#send-modal"><i class="fa fa-envelope"></i> Envoyer</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="send-modal" tabindex="-1" role="dialog" aria-labelledby="sendModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <br>
                    <i class="fa fa-paperclip fa-7x"></i>
                    <h4 id="myModalLabel" class="semi-bold">Nous pouvons vous envoyer vos notes par e-mail</h4>
                    <p class="no-margin">Selectionnez les notes que vous souhaitez envoyer </p>
                    <br>
                </div>
                <div class="modal-body" style="padding:4px;">

                </div>
                <div class="modal-footer">
                    <div class="input-group" style="width: 363px; float: left;">
                        <span class="input-group-addon primary">                  
                            <span class="arrow"></span>
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input type="text" class="form-control" name="form1Email" id="form1Email" placeholder="Votre adresse mail">
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary">Envoyer</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="note-title"><span>Titre : </span><input type="text" value="Note 1"></div>

</div>