<div ng-controller="NotesController" class="content notes-content" ng-class="{active : activetool === 'NOTE'}">  

    <div class="header navbar navbar-inverse ">

        <div class="navbar-inner">
            <div class="header-quick-nav">
                <div class="pull-left">
                    <h3><i class="mdi-content-create"></i> <%= __('viewer.notes.title') %></h3>
                </div>
            </div>
        </div>
    </div>

    <textarea ng-model="current.content"
              ng-change="hasChange = true"
              ng-blur="save()" 
              id="text-editor"
              placeholder="<%= __('viewer.notes.write_here') %>"
              class="form-control"
              rows="10"><%= __('viewer.notes.default_content') %></textarea>
</div>