<div ng-controller="quizzInnerController" class="content quizz-inner-content" style="opacity: 0;">  
    
    <div class="page-title">
        <h3>
            <i class="fa fa-pencil"></i>
            {{ current.name }}
        </h3>
    </div>

    <p style="padding: 11px 17px 0 17px;">
        {{ current.description }}
    </p>

    <div class="">

        <div ng-repeat="question in current.questions" class="col-md-12">
            <h3>{{ question.question }}</h3>

            <div ng-repeat="answer in question.answers" class="row-fluid">

                <div ng-show="question.type === 1"
                     class="radio check-default">

                    <input id="radio-{{ question.id }}-{{ answer.id }}"
                           name="radio-{{ question.id }}"
                           type="radio"
                           value="1"
                           ng-model="answer.selected">

                    <label for="radio-{{ question.id }}-{{ answer.id }}">
                        {{ answer.answer }}
                    </label>
                </div>

                <div ng-show="question.type === 2"
                     class="checkbox check-default">

                    <input id="checkbox-{{ question.id }}-{{ answer.id }}"
                           name="checkbox-{{ question.id }}"
                           type="checkbox"
                           value="1"
                           ng-model="answer.selected">

                    <label for="checkbox-{{ question.id }}-{{ answer.id }}">
                        {{ answer.answer }}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>