<div ng-controller="QuizzListController" class="content quizz-content" ng-class="{active : activetool === 'QUIZZ'}">
    
    <div class="header navbar navbar-inverse ">
        <div class="navbar-inner">
            <div class="header-quick-nav">
                <div class="pull-left">
                    <h3><i class="fa fa-pencil"></i> <%= __('viewer.quizz-list.title') %></h3>
                </div>
            </div>
        </div>
    </div>
    <ul class="table-list quizz">

        <li ng-repeat="quizz in quizzes"
            ng-click="openInner( quizz )"
            style="background-color: #EEE">

            <a href="#quizz-inner">
                <i class="fa fa-question" ng-hide="quizz.answered === true"></i>
                <i class="fa fa-exclamation tiles dark-blue" ng-show="quizz.answered === true"></i>
                <span class="title">{{ quizz.name }}</span>
                <p class="desc">
                    {{ quizz.description }}
                </p>
            </a>
        </li>

    </ul>
</div>
