<div ng-controller="QuizzListController" class="content quizz-content" ng-class="{active : activetool === 'QUIZZ'}">
    
    <div class="header navbar navbar-inverse ">
        <div class="navbar-inner">
            <div class="header-quick-nav">
                <div class="pull-left">
                    <h3><i class="mdi-content-content-paste"></i> <%= __('viewer.quizz-list.title') %></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-t-20">
        <div class="card col m10 offset-m1" 
            ng-repeat="quizz in quizzes track by quizz.id"
            ng-click="openInner( quizz )"
            ng-class="{'answered' : quizz.answered === true}">

            <div class="card-image">
               <i ng-class="{
                    'mdi-toggle-check-box-outline-blank'        : quizz.answered !== true,
                    'mdi-toggle-check-box'    : quizz.answered === true
                }"></i>
              <span class="card-title">{{ ::quizz.name }}</span>
            </div>
            <div class="card-content">
              <p>{{ ::quizz.description }}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>

        </div>
    </div>
</div>
