<div class="content quizz-inner-content" style="opacity: 0;">  
    <div class="page-title">
        <h3><i class="fa fa-pencil"></i> Questionnaire de satisfaction</h3>
    </div>
    <p style="padding: 11px 17px 0 17px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque blandit tellus. Nam lobortis elementum quam, ut semper eros porttitor ut.
    </p>
    <div class="">
        <div class="col-md-12">
            <h3>Color <span class="semi-bold">Options</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <br>
            <div class="row-fluid">
                <div class="checkbox check-default">
                    <input id="checkbox1" type="checkbox" value="1">
                    <label for="checkbox1">Keep Me Signed in</label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="checkbox check-success  ">
                    <input id="checkbox2" type="checkbox" value="1" checked="checked">
                    <label for="checkbox2">I agree</label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="checkbox check-primary">
                    <input id="checkbox3" type="checkbox" value="1">
                    <label for="checkbox3">Mark</label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="checkbox check-info">
                    <input id="checkbox4" type="checkbox" value="1">
                    <label for="checkbox4">Steve Jobs </label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="checkbox check-warning">
                    <input id="checkbox5" type="checkbox" value="1" checked="checked">
                    <label for="checkbox5">Action</label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="checkbox check-danger">
                    <input id="checkbox6" type="checkbox" value="1" checked="checked">
                    <label for="checkbox6">Mark as read</label>
                </div>
            </div>
        </div>
        <br/>
        <div class="col-md-12">
            <h3>Shape <span class="semi-bold">Options</span></h3>
            <p>Proin scelerisque blandit tellus. Nam lobortis elementum quam, ut semper eros porttitor ut.</p>
            <br>
            <div class="row-fluid">
                <div class="checkbox check-default checkbox-circle">
                    <input id="checkbox7" type="checkbox" value="1" checked="checked">
                    <label for="checkbox7">Keep Me Signed in</label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="checkbox check-success checkbox-circle">
                    <input id="checkbox8" type="checkbox" value="1">
                    <label for="checkbox8">I agree</label>
                </div>
            </div>
            <div class="row-fluid">
                <div class="checkbox check-primary checkbox-circle">
                    <input id="checkbox9" type="checkbox" value="1" checked="checked">
                    <label for="checkbox9">Mark</label>
                </div>
            </div>
        </div>
        <br/>
        <div class="col-md-12">
            <h3>State <span class="semi-bold">Options</span></h3>
            <br>
            <div class="row-fluid">
                <div class="checkbox check-success">
                    <input id="check1" type="checkbox" name="check" value="check1" disabled="disabled">
                    <label for="check1">Checkbox No. 1</label>
                    <br>
                    <input id="check2" type="checkbox" name="check" value="check2" checked="checked" disabled="disabled">
                    <label for="check2">Checkbox No. 2</label>
                </div>
            </div>
        </div>
    </div>
</div>