<div class="content quizz-content" style="opacity: 0;">  
    <div class="page-title">
        <h3><i class="fa fa-pencil"></i> Questionnaires</h3>
    </div>
    <ul class="table-list quizz">
        <li style="background-color: #EEE">
            <a href="#quizz-inner">
                <i class="fa fa-question"></i> <span class="title">Questionnaire de satisfaction</span>
                <p class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique, arcu sed elementum luctus, justo mauris consequat mauris.
                </p>
            </a>
        </li>
        <li>
            <a href="#quizz-inner">
                <i class="fa fa-question"  style="background: #0090d9;"></i> <span class="title">Question unique</span>
                <p class="desc">
                    Nullam tristique, arcu sed elementum luctus, justo mauris consequat mauris. Lorem ipsum dolor amet, consectetur elit. Elementum luctus, justo mauris consequat mauris. Lorem ipsum dolor amet
                </p>
            </a>
        </li>
        <li style="background-color: #EEE">
            <a href="#quizz-inner">
                <i class="fa fa-question" style="background:#fbb05e;"></i> <span class="title">Que savez vous sur nous</span>
                <p class="desc">
                    Consectetur adipiscing elit. Nullam tristique, arcu sed elementum luctus, justo mauris consequat mauris.
                </p>
            </a>
        </li>
        <li>
            <a href="#quizz-inner">
                <i class="fa fa-question" style="background:#1f3853;"></i> <span class="title">La conférence</span>
                <p class="desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum luctus, justo mauris consequat mauris. Lorem ipsum dolor amet. Arcu sed elementum luctus, justo mauris consequat mauris.
                </p>
            </a>
        </li>
        <li style="background-color: #EEE">
            <a href="#quizz-inner">
                <i class="fa fa-question" style="background:#f35958;"></i> <span class="title">Notre Service</span>
                <p class="desc">
                    Dolor sit amet, consectetur adipiscing elit. Nullam tristique, arcu sed mauris. Elementum luctus, justo mauris consequat mauris. Lorem ipsum dolor amet
                </p>
            </a>
        </li>
    </ul>
</div>
