<div ng-controller="ResourcesController" class="content ressources-content" ng-class="{active : activetool === 'RESSOURCE'}">  
    <div class="header navbar navbar-inverse ">
        <div class="navbar-inner">
            <div class="header-quick-nav">
                <div class="pull-left">
                    <h3><i class="mdi-file-folder-open"></i> <%= __('viewer.resources-list.title') %></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-container">
        <div class="resources-categories"
             ng-repeat="category in categories track by category.id">
            
            <h4>
                {{ ::category.name }}
            </h4>

            <div class="resource-item"
                 ng-repeat="ressource in ::category.resources track by ressource.id"
                 ng-click="openInner( ressource )">
                
                <img src="/images/icons/fileicon_pdf.jpg"/>
                <span>
                    {{ ressource.name }}
                </span>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>