<div ng-controller="ResourcesController" class="content ressources-content" ng-class="{active : activetool === 'RESSOURCE'}">  
    <div class="header navbar navbar-inverse ">
        <div class="navbar-inner">
            <div class="header-quick-nav">
                <div class="pull-left">
                    <h3><i class="fa fa-folder-open"></i> <%= __('viewer.resources-list.title') %></h3>
                </div>
            </div>
        </div>
    </div>


    <div class="resources-categories"
         ng-repeat="category in categories">
        
        <h4>
            {{ category.name }}
        </h4>

        <div class="resource-item"
             ng-repeat="ressource in category.resources">
            
            <img src="/images/fileicons/fileicon_pdf.jpg"/>
            <span>
                {{ ressource.name }}
            </span>

        </div>
        <div class="clearfix"></div>
    </div>

</div>