<div ng-controller="wallController" class="content wall-content" ng-class="{active : activetool === 'WALL'}">

    <div class="header navbar navbar-inverse ">
        <div class="navbar-inner">
            <div class="header-quick-nav">
                <div class="pull-left">
                    <h3><i class="fa fa-pencil"></i> Mur</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="timeline-search">
        <div class="input-group transparent" style="width:100%">
            <select ng-model="filter" style="width:100%">
                <option value="" selected="selected">Toutes les catégories</option>
                <option ng-repeat="tag in tags" value="{{ tag.id }}">{{ tag.name }}</option>
            </select>
        </div>
    </div>

    <div class="col-md-12 timeline">
        <ul class="cbp_tmtimeline">
             <li class="animate-repeat" ng-show="!hideFirst && questions.length < 4">
                <div class="cbp_tmicon user-profile">
                    <img src="/images/profiles/icon.png"  alt="" data-src="/images/profiles/icon.png" width="60" height="60">
                </div>
                
                <div class="cbp_tmlabel">
                    <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
                        <h4 class="inline m-b-5">
                            <span class="text-success semi-bold m-r-10">
                                ITEvents
                            </span>
                        </h4>
                        <p class="m-t-5 dark-text"> Bienvenue sur le mur de questions ITEvents.<br/><br/> Vous pouvez à tout moment réagir à la présentation et poser vos questions.<br/> Nous vous prions de bien vouloir réspecter les règles élémentaires de la politesse et de respect. Ce mur est votre lieux d'expression, alors gardez le propre <i class="fa fa-smile-o"></i>. <br/><br/> ITEvents vous souhaite une très bonne présentation. </p>
                    </div>

                    <a class="close" ng-click="hideFirst=true"><i class="fa fa-times"></i></a>
                    <div class="clearfix"></div>
                </div>
            </li>
            
            <li class="animate-repeat" ng-repeat="question in questions | toArray | orderBy:'-createdAt' | filter:{tags : filter}">
                <div ng-show="question.user.avatar.c && question.user.avatar.a" class="cbp_tmicon avatar" ng-class="question.user.avatar.c + ' avatar-'+question.user.avatar.a"></div>
                <div ng-show="!question.user.avatar.c || !question.user.avatar.a" class="cbp_tmicon avatar black anonymous"></div>
                <div class="cbp_tmlabel">
                    <div class="p-t-15 p-l-20 p-r-15">
                        <h4 class="inline m-b-5" style="margin-top: 0; font-size: 15px;">
                            <span class="text-success semi-bold m-r-10">
                                {{ getUsername( question.user ) }}
                            </span>
                        </h4>

                        <div class="muted inline">à&nbsp;&nbsp;{{question.createdAt | date:'mediumTime'}}</div>
                        <span class="muted semi-bold m-b-5 label m-l-5" ng-repeat="tag in question.tags" style="line-height: 16px; float: right;">
                            {{ getTagName( tag ) }}
                        </span>
                        
                        <p class="m-t-5 dark-text"> {{question.question}} </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="p-b-10 p-l-20" style="line-height: 20px;">
                        <ul class="action-links">
                            <li class="text-error" ng-show="question.likes > 1"><i class="fa fa-heart"></i> {{question.likes}} Likes</li>
                            <li class="text-error" ng-show="question.likes <= 1"><i class="fa fa-heart"></i> {{question.likes}} Like</li>
                        </ul>
                        
                        <a ng-show="question.user.id != user.id"
                           ng-class="{disabled : isLike(question)}"
                           ng-click="like(question)"
                           class="m-r-20 fright">
                            <i class="fa fa-thumbs-o-up"></i> Like
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="timeline-post">
        <div class="col-md-12 no-padding">
            <select id="multi" style="width:100%" placeholder="Sélectionnez un catégorie" multiple>
                <option ng-repeat="tag in tags" value="{{tag.id}}">{{tag.name}}</option>
            </select>
        </div>
        <textarea ng-model="text" placeholder="Posez votre question" ></textarea>
        <button class="send-wall-question btn btn-primary" id="click" ng-click="post()">Envoyer</button>
    </div>
</div>