<div ng-controller="wallController" class="content wall-content" ng-class="{active : activetool === 'wall'}">
    <div class="timeline-search">
        <div class="input-group transparent">
            <span class="input-group-addon ">
                <i class="fa fa-search"></i>
            </span>
            <input type="search" class="form-control" placeholder="Rechercher une question" ng-model="q"/>
        </div>
    </div>
    <div class="col-md-12 timeline">

        <ul class="cbp_tmtimeline">
<!--             <li class="animate-repeat" ng-show="!hideFirst">
                <div class="cbp_tmicon user-profile">
                        <img src="/images/profiles/icon.png"  alt="" data-src="/images/profiles/icon.png" width="60" height="60">
                    </div>
                <div class="cbp_tmlabel">
                    <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
                        <h4 class="inline m-b-5">
                            <span class="text-success semi-bold m-r-10">
                                ITEvents
                            </span>
                        </h4>
                        <p class="m-t-5 dark-text"> Bienvenue sur le mur de questions ITEvents.<br/><br/> Vous pouvez à tout moment réagir à la présentation et poser vos questions.<br/> Nous vous prions de bien vouloir réspecter les règles élémentaires de la politesse et de respect. Ce mur est votre lieux d'expression, alors gardez le propre <i class="fa fa-smile-o"></i>. <br/><br/> ITEvents vous souhaite une très bonne présentation. </p>
                    </div>

                    <a class="close" ng-click="hideFirst=true"><i class="fa fa-times"></i></a>
                    <div class="clearfix"></div>
                </div>
            </li> -->
            <li class="animate-repeat" ng-repeat="question in questions | toArray | orderBy:'-like' | filter:q as results">
                <div ng-show="question.user.avatar.c && question.user.avatar.a" class="cbp_tmicon avatar" ng-class="question.user.avatar.c + ' avatar-'+question.user.avatar.a"></div>
                <div ng-show="!question.user.avatar.c || !question.user.avatar.a" class="cbp_tmicon avatar black anonymous"></div>
                <div class="cbp_tmlabel">
                    <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
                        <h4 class="inline m-b-5">
                            <span class="text-success semi-bold m-r-10" ng-show="question.user.username">
                                {{question.user.username}}
                            </span>
                            <span class="text-success semi-bold m-r-10" ng-show="!question.user.username && (question.user.lastname || question.user.firstname)">
                                {{question.user.firstname}} {{question.user.lastname}}
                            </span>
                            <span class="text-success semi-bold m-r-10" ng-show="!question.user.username && !question.user.lastname && !question.user.firstname">
                                Anonyme
                            </span>
                        </h4>
                        <span class="muted semi-bold m-b-5 label m-l-5" ng-repeat="tag in question.tags">
                            {{getTagName(tag)}}
                        </span>
                        <div class="muted">{{question.createdAt | date:'mediumTime'}}</div>
                        <p class="m-t-5 dark-text"> {{question.question}} </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="tiles p-t-10 p-b-10 p-l-20" style="background-color:#2d3139;">
                        <ul class="action-links">
                            <li class="text-white" ng-show="question.likes > 1">{{question.likes}} Likes</li>
                            <li class="text-white" ng-show="question.likes <= 1">{{question.likes}} Like</li>
                        </ul>
                        <a ng-show="question.user.id != user.id"
                           ng-class="{disabled : isLike(question)}"
                           ng-click="like(question)"
                           class="btn btn-primary btn-small m-r-10 fright">
                            <i class="fa fa-thumbs-o-up"></i> Like
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="timeline-post">
        <!-- <div class="col-md-12 no-padding">
            <select id="multi" style="width:100%" placeholder="Sélectionnez un catégorie" multiple>
                <option ng-repeat="tag in tags" value="{{tag.id}}">{{tag.name}}</option>
            </select>
        </div> -->
        <textarea ng-model="text" placeholder="Posez votre question" ></textarea>
        <button class="send-wall-question btn btn-primary" id="click" ng-click="post()">Envoyer</button>
    </div>
</div>