<div class="content wall-content" style="opacity:0;">
    <div class="page-title">
        <h3><i class="fa fa-users"></i>Mur</h3>
    </div>
    <div class="col-md-12 col-vlg-7 timeline">
        <ul class="cbp_tmtimeline">
            <li>
                <time class="cbp_tmtime" datetime="2013-04-10 18:30">
                    <span class="date">today</span>
                    <span class="time">10:05 <span class="semi-bold">am</span></span>
                </time>
                <div class="cbp_tmicon primary animated bounceIn"> <i class="fa fa-comments"></i> </div>
                <div class="cbp_tmlabel">
                    <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
                        <h4 class="inline m-b-5"><span class="text-success semi-bold">Jonathan smith</span> </h4>
                        <h5 class="inline muted semi-bold m-b-5">@johnsmith</h5>
                        <div class="muted">Shared publicly - 12:45pm</div>
                        <p class="m-t-5 dark-text"> In 1922 -
                            Here's his "Girl with Roses"Painter Lucian Freud was also born on December 8th a few years later </p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="tiles grey p-t-10 p-b-10 p-l-20">
                            <ul class="action-links">
                                <li>Like</li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-04-10 18:30">
                        <span class="date">yesterday</span>
                        <span class="time">8:45 <span class="semi-bold">pm</span></span>
                    </time>
                    <div class="cbp_tmicon success animated bounceIn"> <i class="fa fa-map-marker"></i> </div>
                    <div class="cbp_tmlabel">
                        <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
                            <h4 class="inline m-b-5"><span class="text-success semi-bold">Jane Award</span> </h4>
                            <h5 class="inline muted semi-bold m-b-5">@janesmith</h5>
                            <div class="muted">Shared publicly - 12:45pm</div>
                            <p class="m-t-5 dark-text"> Painter Lucian Freud was also born on December 8th a few years later - in 1922.
                                Here's his "Girl with Roses" </p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="tiles grey p-t-10 p-b-10 p-l-20">
                                <ul class="action-links">
                                    <li>Like</li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="2013-04-10 18:30">
                            <span class="date">yesterday</span>
                            <span class="time">1:30 <span class="semi-bold">pm</span></span>
                        </time>
                        <div class="cbp_tmicon info animated bounceIn"> <i class="fa fa-quote-left"></i> </div>
                        <div class="cbp_tmlabel">
                            <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
                                <h4 class="inline m-b-5"><span class="text-success semi-bold">Adan smith</span> </h4>
                                <h5 class="inline muted semi-bold m-b-5">@johnaward</h5>
                                <div class="muted">Shared publicly - 12:45pm</div>
                                <p class="m-t-5 dark-text">Here's his "Girl with Roses". Painter Lucian Freud was also born on December 8th a few years later - in 1922.
                                </p>
                            </div>
                            <div class="clearfix"></div>
                            <div class="tiles grey p-t-10 p-b-10 p-l-20">
                                <ul class="action-links">
                                    <li>Like</li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="2013-04-10 18:30">
                            <span class="date">today</span>
                            <span class="time"><span class="animate-number" data-value="12" data-animation-duration="600"></span>:<span class="animate-number" data-value="45" data-animation-duration="600"></span> <span class="semi-bold">pm</span></span>
                        </time>
                        <div class="cbp_tmicon animated bounceIn">
                            <div class="user-profile"> <img src="/images/profiles/d.jpg" data-src="/images/profiles/d.jpg" data-src-retina="/images/profiles/d2x.jpg" width="35" height="35" alt=""> </div>
                        </div>
                        <div class="cbp_tmlabel">
                            <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
                                <h4 class="inline m-b-5"><span class="text-success semi-bold">Jane smith</span> </h4>
                                <h5 class="inline muted semi-bold m-b-5">@johnsmith</h5>
                                <div class="muted">Shared publicly - 12:45pm</div>
                                <p class="m-t-5 dark-text"> Freud was also born on December 8th a few years later - in 1922.
                                    Here's his "Girl with Roses" </p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="tiles grey p-t-10 p-b-10 p-l-20">
                                    <ul class="action-links">
                                        <li>Like</li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </li> 
                    </ul>
                </div>
                <div class="timeline-post">
                    <div class="col-md-12 no-padding">
                      <select id="multi" style="width:100%" multiple>
                        <option value="Categorie1">Categorie 1</option>
                        <option value="Categorie2">Categorie 2</option>
                        <option value="Categorie3">Categorie 3</option>
                    </select>
                </div>
                <textarea placeholer="Posez votre question">Painter Lucian Freud was also born on December 8th a few years later - in 1922. Here's his "Girl with Roses" </textarea>
            </div>
        </div>