<!DOCTYPE html>
<html ng-app="ITEventApp">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>ITEvents - Master</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <link rel="apple-touch-icon" sizes="57x57" href="assets/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="assets/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="assets/icons/apple-touch-icon-114x114.png" />

    <link rel="apple-touch-startup-image" href="assets/starts/ipad-landscape.jpg" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
    <link rel="apple-touch-startup-image" href="assets/starts/ipad-landscape.jpg" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/plugins/bootstrap-select2/select2.css">
    <link rel="stylesheet" href="/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css">
    <link rel="stylesheet" href="/plugins/bootstrap-wysihtml5/wysiwyg-color.css">
    <link rel="stylesheet" href="/plugins/jquery-notifications/css/messenger.css">
    <link rel="stylesheet" href="/plugins/jquery-notifications/css/messenger-theme-flat.css">
    <link rel="stylesheet" href="/plugins/jquery-morris-chart/css/morris.css">
    <link rel="stylesheet" href="/plugins/jquery-slider/css/jquery.sidr.dark.css">
    <link rel="stylesheet" href="/plugins/jquery-slider/css/jquery.sidr.light.css">
    <link rel="stylesheet" href="/plugins/boostrap-checkbox/css/bootstrap-checkbox.css">
    <link rel="stylesheet" href="/plugins/boostrapv3/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/plugins/boostrapv3/css/bootstrap.css">
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/plugins/fullcalendar/fullcalendar.css">
    <link rel="stylesheet" href="/plugins/fullcalendar/fullcalendar.print.css">
    <link rel="stylesheet" href="/plugins/google-font/css/google-fonts.css">
    <link rel="stylesheet" href="/plugins/pace/pace-theme-flash.css">
    <link rel="stylesheet" href="/styles/css/responsive.css">
    <link rel="stylesheet" href="/styles/css/style.css">
    <link rel="stylesheet" href="/styles/css/custom-icon-set.css">
    <link rel="stylesheet" href="/styles/css/main.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/slides/style.css">
    <!--STYLES END-->

    <link rel="stylesheet" type="text/css" href="/assets/conference/color-scheme.css">
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <div class="page-loader pace"><img src="/images/fullwhitelogo.png" /></div>
    <div id="map"></div>
    
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/it-storage.js"></script>
    <script src="/js/dependencies/it-garbage.js"></script>
    <script src="/js/dependencies/jquery-1.8.3.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-animate.js"></script>
    <script src="/js/dependencies/angular-aria.js"></script>
    <script src="/js/dependencies/angular-cookies.js"></script>
    <script src="/js/dependencies/angular-loader.js"></script>
    <script src="/js/dependencies/angular-messages.js"></script>
    <script src="/js/dependencies/angular-mocks.js"></script>
    <script src="/js/dependencies/angular-resource.js"></script>
    <script src="/js/dependencies/angular-route.js"></script>
    <script src="/js/dependencies/angular-sanitize.js"></script>
    <script src="/js/dependencies/angular-touch.js"></script>
    <script src="/js/dependencies/async.js"></script>
    <script src="/js/dependencies/it-connect.js"></script>
    <script src="/js/dependencies/lodash.js"></script>
    <script src="/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
    <script src="/plugins/bootstrap-select2/select2.js"></script>
    <script src="/plugins/bootstrap-select2/select2_locale_bg.js"></script>
    <script src="/plugins/bootstrap-select2/select2_locale_de.min.js"></script>
    <script src="/plugins/bootstrap-select2/select2_locale_es.min.js"></script>
    <script src="/plugins/bootstrap-select2/select2_locale_eu.min.js"></script>
    <script src="/plugins/bootstrap-select2/select2_locale_fr.js"></script>
    <script src="/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    <script src="/plugins/jquery-notifications/js/messenger.js"></script>
    <script src="/plugins/jquery-notifications/js/messenger-theme-future.js"></script>
    <script src="/plugins/jquery-morris-chart/js/morris.js"></script>
    <script src="/plugins/jquery-numberAnimate/jquery.animateNumbers.js"></script>
    <script src="/plugins/jquery-slider/jquery.sidr.js"></script>
    <script src="/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="/plugins/TweenMax/TimelineLite.js"></script>
    <script src="/plugins/TweenMax/TimelineMax.js"></script>
    <script src="/plugins/TweenMax/TweenLite.js"></script>
    <script src="/plugins/TweenMax/TweenMax.js"></script>
    <script src="/plugins/TweenMax/easing/EasePack.js"></script>
    <script src="/plugins/TweenMax/jquery.gsap.js"></script>
    <script src="/plugins/TweenMax/plugins/AttrPlugin.js"></script>
    <script src="/plugins/TweenMax/plugins/BezierPlugin.js"></script>
    <script src="/plugins/TweenMax/plugins/CSSPlugin.js"></script>
    <script src="/plugins/TweenMax/plugins/CSSRulePlugin.js"></script>
    <script src="/plugins/TweenMax/plugins/ColorPropsPlugin.js"></script>
    <script src="/plugins/TweenMax/plugins/DirectionalRotationPlugin.js"></script>
    <script src="/plugins/TweenMax/plugins/EaselPlugin.js"></script>
    <script src="/plugins/TweenMax/plugins/EndArrayPlugin.js"></script>
    <script src="/plugins/TweenMax/plugins/KineticPlugin.js"></script>
    <script src="/plugins/TweenMax/plugins/RaphaelPlugin.js"></script>
    <script src="/plugins/TweenMax/plugins/RoundPropsPlugin.js"></script>
    <script src="/plugins/TweenMax/plugins/ScrollToPlugin.js"></script>
    <script src="/plugins/TweenMax/plugins/TEMPLATE_Plugin.js"></script>
    <script src="/plugins/TweenMax/plugins/TextPlugin.js"></script>
    <script src="/plugins/TweenMax/utils/Draggable.js"></script>
    <script src="/plugins/boostrap-checkbox/js/bootstrap-checkbox.js"></script>
    <script src="/plugins/boostrapv3/js/bootstrap.js"></script>
    <script src="/plugins/fullcalendar/fullcalendar.js"></script>
    <script src="/plugins/fullcalendar/gcal.js"></script>
    <script src="/plugins/modernizr.js"></script>
    <script src="/plugins/pace/pace.js"></script>
    <script src="/plugins/touchy.js"></script>
    <script src="/js/utils/it-angular.js"></script>
    <script src="/js/utils/it-debug.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers/common.js"></script>
    <script src="/js/controllers/discussions.js"></script>
    <script src="/js/controllers/live-private.js"></script>
    <script src="/js/controllers/live.js"></script>
    <script src="/js/controllers/master-live.js"></script>
    <script src="/js/controllers/master.js"></script>
    <script src="/js/controllers/modals/ask-question-modal.js"></script>
    <script src="/js/controllers/modals/user-modal.js"></script>
    <script src="/js/controllers/notes.js"></script>
    <script src="/js/controllers/quizz-inner.js"></script>
    <script src="/js/controllers/quizz-list.js"></script>
    <script src="/js/controllers/resources-inner.js"></script>
    <script src="/js/controllers/resources.js"></script>
    <script src="/js/controllers/wall-questions.js"></script>
    <script src="/js/core.js"></script>
    <script src="/js/live.js"></script>
    <script src="/slides/paper-core.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>