
<!-- BEGIN CONTENT -->
<div ng-controller="commonController" class="page-container row-fluid" ng-init="accountType = 3" >

    <% include live/live %>

    <div ng-controller="livePrivateController" ng-hide="true"></div>
</div>
<!-- END CONTENT --> 