
<!-- BEGIN CONTENT -->
<div ng-controller="CommonController" class="page-container row-fluid live" ng-init="accountType = 3" >

    <% include live/live %>

    <div ng-controller="LivePrivateController" ng-hide="true"></div>
</div>
<!-- END CONTENT --> 