
<!-- BEGIN CONTENT -->
<div ng-controller="CommonController" ng-init="accountType = 3"  class="page-container fullscreen" >

    <% include live/live %>

    <div ng-controller="LivePrivateController" ng-hide="true"></div>
</div>
<!-- END CONTENT --> 