
<div ng-controller="loginController" class="row login-container animated fadeInUp">  
    <div class="col-md-6 col-lg-4 col-lg-offset-4 col-md-offset-3 tiles white no-padding">
        <% if(conference.logo) { %>
        <img class="client_logo p-t-30" src="<%= conference.logo %>" width="200"/>
        <% } %>
        <div class=" p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10"> 
            <h3 class="normal">
                Connectez-vous pour commencer
            </h3>
        <% if(conference.description) { %>
            <p class="p-b-20">
                <%= conference.description %>
            </p>
        <% } %>
        </div>
        <div class="tiles grey p-t-20 p-b-20 text-black">
            <form id="frm_login">    
                <div id="step_email" class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                    <div class="col-md-12 col-sm-12">
                         <input name="login_email" id="login_email" type="email" class="form-control" placeholder="john.smith@mail.com" ng-model="user.mail">
                    </div>
                </div>
                <div id="step_password" class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                    <div class="col-sm-12">
                         <input name="login_pass" id="login_pass" type="password" class="form-control" placeholder="********" ng-model="user.password">
                    </div>
                </div>
                <div id="step_terms" class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10 text-center">
                    <div class="control-group col-md-12">
                        <div class="checkbox checkbox check-success">
                            <input type="checkbox" id="login_terms" value="1">
                            <label for="login_terms">
                                Accepter les conditions générales d'utilisation
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-row m-t-15 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default btn-block btn-cons" id="login_prev">
                            Précédent
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary btn-block btn-cons" id="login_next" ng-click="execute()">
                            Suivant
                        </button>
                    </div>
                </div>
            </form>
        </div>   
    </div>   
</div>