<div ng-controller="loginController" class="row login-container animated fadeInUp">  
    <div class="col-md-6 col-lg-4 col-lg-offset-4 col-md-offset-3 tiles white no-padding">
        <% if(conference.logo) { %>
        <img class="client_logo p-t-30" src="<%= conference.logo %>" width="200"/>
        <% } %>
        <div class=" p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10"> 
            <h3 class="normal">
                Connectez-vous pour commencer
            </h3>
        <% if(conference.description) { %>
            <p class="p-b-20">
                <%= conference.description %>
            </p>
        <% } %>
        </div>
        <div ng-show="frm_login.login_email.$dirty && frm_login.login_email.$invalid">
            <span class="error" ng-show="frm_login.login_email.$error.pattern">Entrez une adresse mail valide</span>
        </div>
        <div ng-show="frm_login.login_pass.$dirty && frm_login.login_pass.$invalid">
            <span class="error" ng-show="frm_login.login_pass.$error.minlength">Votre mot de passe doit faire 6 characteres minimum</span>
        </div>
        <div class="tiles grey text-black ">
            <form id="frm_login" novalidate name="frm_login" ng-class="{'login-step1' : s===1, 'login-step2':s===2, 'newuser' : user.newuser,  'login-step3' : s===3}">    
                <div class="login-steps" >
                    <div class="login-steps-wrapper">
                        <div id="step_email">
                            <h4 class="p-l-20 p-r-20 m-b-25 m-t-20"><i class="fa fa-info-circle fa-2x"></i> Votre adresse e-mail vous servira d'identifiant de connexion, elle vous servira egalement si vous souhaitez vous envoyer des notes.</h4>
                            <div class="col-md-12 col-sm-12">
                                <label>Entre votre adresse e-mail :</label>
                                 <input name="login_email" id="login_email" type="email" class="form-control" placeholder="john.smith@mail.com" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" ng-model="user.mail" ng-model-options="{ updateOn: 'blur' }" required>
                            </div>
                        </div>
                        <div id="step_password">
                            <h4 class="p-l-20 p-r-20 m-b-25 m-t-20" ng-show="user.newuser"><i class="fa fa-users fa-2x"></i> Nous ne connaissons pas votre adresse e-mail, choisissez un mot de passe pour rejoindre la conférence et protéger votre compte.</h4>
                            <h4 class="p-l-20 p-r-20 m-b-25 m-t-20" ng-show="!user.newuser"><i class="fa fa-users fa-2x"></i> Bienvenue à cette conférence. Nous sommes très heureux de vous retrouver</h4>
                            <div class="col-md-12">
                                <label ng-show="user.newuser">Choisissez un mot de passe :</label>
                                <label ng-show="!user.newuser">Entrez votre mot de passe :</label>
                                 <input name="login_pass" id="login_pass" type="password" class="form-control" placeholder="********" ng-model="user.password" minlength=6 ng-model-options="{ updateOn: 'blur' }" required>
                            </div>
                            <div class="col-md-12 m-t-10" ng-show="user.newuser">
                                <label>Confirmez votre mot de passe :</label>
                                 <input name="login_pass_c" id="login_pass_c" type="password" class="form-control col-md-12" placeholder="********" ng-model="user.password_c" minlength=6 ng-model-options="{ updateOn: 'blur' }" required>
                            </div>
                        </div>
                        <div id="step_terms">
                            <div class="control-group col-md-12 text-center">
                                <div class="checkbox checkbox check-success">
                                    <input type="checkbox" id="login_terms" value="1">
                                    <label for="login_terms">
                                        Accepter les conditions générales d'utilisation
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="steps-controller">
                    <div class="previous-step">
                        <button type="button" class="btn btn-default btn-block btn-cons" ng-class="" id="login_prev" ng-click="previous()">
                            <i class="fa fa-arrow-left m-r-10"></i> Précédent
                        </button>
                    </div>
                    <div class="next-step">
                        <button type="button" class="btn btn-primary btn-block btn-cons" id="login_next" ng-click="next()">
                            {{s==3 ? 'Connexion' : 'Suivant'}} <i class="fa fa-arrow-right m-l-10"></i>
                        </button>
                    </div>
                </div>
                <div class="clear"></div>
            </form>
        </div>   
    </div>   
</div>