
		<!-- BEGIN CONTENT -->
		<div class="page-container master row-fluid">
			<!-- BEGIN PAGE CONTAINER-->
			<div class="page-content"> 
				<div class="content">  
					<!-- BEGIN PAGE TITLE -->
					<div class="page-title">
						<h3>Master</h3>
					</div>
					<div id="slides" class="presentation-slide flexslider">
						<ul class="slides">
							<li class="slide"><div class="slide-content"><img src="images/slides/large1.png"></div></li>
							<li class="slide"><div class="slide-content"><img src="images/slides/large2.png"></div></li>
							<li class="slide"><div class="slide-content"><img src="images/slides/large3.png"></div></li>
							<li class="slide"><div class="slide-content"><img src="images/slides/large4.png"></div></li>
							<li class="slide"><div class="slide-content"><iframe width="634" height="432" src="http://www.youtube.com/embed/MvIiGGzVIwc" frameborder="0" allowfullscreen></iframe></div></li>
							<!-- <li class="slide"><div class="slide-content"><img src="assets/img/slides/large5.png"></div></li> -->
							<li class="slide"><div class="slide-content">
								<h2 class="text-center"><br><br><br>Vous vous sentez prêt ?</h2>
								<br><br>
								<div class="text-center">
									<button class="btn btn-large btn-primary"> Oui au max ! </button>&nbsp;&nbsp;
									<button class="btn btn-large btn-danger"> Non pas vraiment </button>
								</div>
							</li>
						</ul>
					</div>	

<!-- 								<div class="active dot-item" data-number='0'>
									<img src="images/slides/1.png"/>
								</div>
								<div class="dot-item" data-number='1'>
									<img src="images/slides/2.png"/>
								</div>
								<div class="dot-item" data-number='2'>
									<img src="images/slides/3.png"/>
								</div>
								<div class="dot-item" data-number='3'>
									<img src="images/slides/4.png"/>
								</div>
								<div class="dot-item dot-item-video" style="background: #000; padding: 8px 0px;" data-number='4'>
									<img src="https://i.ytimg.com/vi/MvIiGGzVIwc/mqdefault.jpg"/>
								</div>
								<div class="dot-item" data-number='5'>
									<img src="images/slides/5.png"/>
								</div> -->
					
			</div>
			<!-- END CONTENT --> 
		</div>
		<div class="next-slide"><i class="fa fa-arrow-right fa-3x"></i></div>
		<div class="previous-slide"><i class="fa fa-arrow-left fa-3x"></i></div>
		</div>
