<!-- BEGIN CONTENT -->
<div ng-controller="commonController" class="page-container master row-fluid" ng-init="accountType = 2; live=true">
	<!-- BEGIN PAGE CONTAINER-->
	<div ng-controller="masterController" class="page-content">

		<div ng-controller="liveController" class="content">
			<!-- BEGIN PAGE TITLE -->
			<div class="page-title">
				<a class="listner listner-up btn btn-primary"
					ng-class="{'btn-primary': usersConnectedUp, 'btn-info': usersConnectedSame, 'btn-danger': usersConnectedDown}"><i class="fa" ng-class="{'fa-angle-double-up': usersConnectedUp, 'fa-angle-double-right': usersConnectedSame, 'fa-angle-double-down': usersConnectedDown}"  style="margin-right: 0px;"></i></a>
				<h3><i class="fa fa-user"></i> {{ connectedUsers }}</h3>
				<span class="speaker-time">07:18</span>
			</div>
			<div class="progress transparent progress-small no-radius no-margin">
	            <div data-percentage="{{ shared.liveProgress }}%"
	                    style="width: {{ shared.liveProgress }}%;" 
	                    class="progress-bar progress-bar-success animate-progress-bar"></div>     
			</div>
			<div class="liveorask">
				<div class="livetab" ng-class="{active:live}" ng-click="live=true"><i class="fa fa-paper-plane" style="margin-right: 4px;"></i> Live</div>
				<div class="asktab" ng-class="{active:!live}" ng-click="live=false"><i class="fa fa-users" style="margin-right: 4px;"></i> Mur</div>
			</div>

			<div id="slides" class="presentation-slide" ng-show="live">
				<div id="slides" class="presentation-slide">
			        <div ng-repeat="slide in presentation.slides" class="slide slide-animation"
			            ng-hide="!isCurrentSlide($index)"
			            ng-swipe-right="previous()"
			            ng-swipe-left="next()"
			            ng-bind-html="safeHTML(slide.content)"></div>
			    </div>
			</div>

			<div ng-controller="wallController" class="wall" ng-show="!live" >
				<div class="dd" id="wall-list">
					<ol class="dd-list">
						<li class="animate-repeat dd-item dd-handle" ng-hide="question.remove" data-id="{{ question.id }}" ng-repeat="question in questions | toArray | orderBy:['-favorite','-likes'] | filter:q as results" ng-init="question.favorite=false">
						    <div ng-show="question.user.avatar.c && question.user.avatar.a" class="cbp_tmicon avatar" ng-class="question.user.avatar.c + ' avatar-'+question.user.avatar.a"></div>
						    <div ng-show="!question.user.avatar.c || !question.user.avatar.a" class="cbp_tmicon avatar black anonymous"></div>
						    <div class="cbp_tmlabel">
						        <div class="p-t-15">
						            <h4 class="inline m-b-5">
						                <span class="text-success semi-bold m-r-10" ng-show="question.user.username">
						                    {{question.user.username}}
						                </span>
						                <span class="text-success semi-bold m-r-10" ng-show="!question.user.username && (question.user.lastname || question.user.firstname)">
						                    {{question.user.firstname}} {{question.user.lastname}}
						                </span>
						                <span class="text-success semi-bold m-r-10" ng-show="!question.user.username && !question.user.lastname && !question.user.firstname">
						                    Anonyme
						                </span>
						            </h4>
						            <span class="muted semi-bold m-b-5 label m-l-5" ng-repeat="tag in question.tags">
						                {{getTagName(tag)}}
						            </span>
						            <div class="muted">{{question.createdAt | date:'mediumTime'}}</div>
						            <p class="m-t-10 m-l-20 dark-text"> {{question.question}} </p>
						        </div>
						        <div class="clearfix"></div>
						        <div class="tiles" ng-class="{favorite: question.favorite}">
						            <div class="action-links">
						            	<span ng-hide="question.favorite"><button class="btn btn-primary" ng-click="question.favorite=true"> <i class="fa fa-star"></i> </button></span>
						            	<span ng-show="question.favorite"><button class="btn btn-warning" ng-click="question.favorite=false"> <i class="fa fa-star-o"></i> </button></span>
						                <span class="text-white" ng-show="question.likes > 1">{{question.likes}} Likes</span>
						                <span class="text-white" ng-show="question.likes <= 1">{{question.likes}} Like</span>

						                <div class="pull-right">
						                	<button class="btn btn-danger" ng-click="question.remove = true"> <i class="fa fa-times"></i> </button>
						                </div>
						            </div>
						            <div class="clearfix"></div>
						        </div>
						    </div>
						</li>
					</ol>
				</div>
			</div>

			<div class="slides-nav-container">
				<div class="slides-nav">
					<div class="slides-nav-wrapper" ng-style="{width: (presentation.slides.length * 175)+55+'px', left: sl+'px'}">
		                <div ng-repeat="slide in presentation.slides"
                    	 	 ng-class="{ 'active': $index === current }"
		                     class="dot-item">
		                    <img ng-src="/images/slides/generated/small_{{ presentation.id }}_{{ slide.id }}.png"/>
		                </div>
					</div>
				</div>

				<a class="slides-nav-prev btn btn-primary" ng-click="sl=sl+175"><i class="fa fa-chevron-left"></i></a>
				<a class="slides-nav-next btn btn-primary"><i class="fa fa-chevron-right"></i></a>
			</div>
		</div>
		<!-- END CONTENT --> 
	</div>
	<div ng-controller="masterLiveController">
		<div class="next-slide sn-next" data="next" ng-click="next()"><i class="fa fa-arrow-right fa-3x"></i></div>
		<div class="previous-slide sn-prev" data="prev" ng-click="previous()"><i class="fa fa-arrow-left fa-3x"></i></div>
	</div>
</div>
