
<!-- BEGIN CONTENT -->
<div ng-controller="commonController" class="page-container row-fluid" ng-init="accountType = 1; activetool = 'note';" ng-class="{fullscreen : isfullscreen}" >

    <ul class="user-sub" ng-show="openStats">
        <li class="active"><a href="#" ng-click="openStats=false"><span class="status-icon green"></span> <span class="title">Online</span></a></li>
        <li><a ng-click="logout()"><div class="status-icon red"></div> <span class="title">Déconnexion</span></a></li>
    </ul>

    <!-- BEGIN PAGE CONTAINER-->
    <div class="page-content" ng-click="closeMenu()">

        <% include viewer/live %>

    </div>

    <div class="tools-content">
        <div class="menu-component" ng-mouseleave="menulabel=false">
            <button class="btn btn-primary menu-btn cn-button" ng-class="{'open' : openmenu}" id="cn-button" ng-click="handlerMenu()"></button>
                <ul class="cn-wrapper" id="cn-wrapper" ng-class="{'opened-nav' : openmenu}">
                    <li>
                        <a href="#" id="cn-fullscreen" ng-click="fullscreen()" ng-mouseover="menulabel='Plein écran'">
                            <span><i class="fa fa-4x fa-angle-double-down"></i></span>
                        </a>
                    </li>
                    <li ng-class="{active : activetool === 'ressource'}">
                        <a class="light" href="#ressources" ng-click="activetool='ressource'" ng-mouseover="menulabel='Ressources'">
                            <span class="title"><i class="fa fa-3x fa-folder-open"></i><!-- Ressources --></span>
                        </a>
                    </li>

                    <!-- BEGIN SINGLE LINK -->
                    <li ng-class="{active : activetool === 'wall'}">
                        <a href="#wall" ng-click="activetool='wall'" ng-mouseover="menulabel='Mur'">
                            <span class="title"><i class="fa fa-3x fa-users"></i><!-- Mur --></span>
                        </a>
                    </li>
                    <!-- END SINGLE LINK --> 

                    <!-- BEGIN BADGE LINK -->
                    <li ng-class="{active : activetool === 'chat'}">
                        <a class="light" href="#chat" ng-click="activetool='chat'" ng-mouseover="menulabel='Discussions'">
                            <span class="title"><i class="fa fa-3x fa-weixin"></i><!-- Discussions --></span>
                        </a>
                    </li>
                    <!-- END BADGE LINK -->     
                    <!-- BEGIN SINGLE LINK -->
                    <li ng-class="{active : activetool === 'note'}">
                        <a href="#notes" ng-click="activetool='note'"  ng-mouseover="menulabel='Bloc-note'">
                            <span class="title"><i class="fa fa-3x fa-pencil"></i><!-- Bloc-note --></span>
                        </a>
                    </li ng-class="{active : activetool === 'wall'}">
                    <!-- END SINGLE LINK -->    
                    <!-- BEGIN ONE LEVEL MENU -->
                    <li ng-class="{active : activetool === 'quizz'}" ng-mouseover="menulabel='Questionnaires'">
                        <a class="light" href="#quizz" ng-click="activetool='quizz'">
                            <span class="title"><i class="fa fa-3x fa-question"></i><!-- Questionnaires --></span>
                        </a>
                    </li>
                    <li><a href="#" style="transform: skewY(44deg) rotate(28deg);" ng-click="logout();" ng-mouseover="menulabel='Déconnexion'"><span>
                        <span ng-show="user.avatar.c && user.avatar.a" class="avatar" ng-class="user.avatar.c + ' avatar-'+user.avatar.a"></span>
                        <span ng-show="!user.avatar.c || !user.avatar.a" class="avatar black anonymous"></span>
                    </span></a></li>
                 </ul>
            <!-- End of Nav Structure -->
        </div>

        <!-- BEGIN SIDEBAR -->
        <div id="main-menu" class="hide">
            <div id="main-menu-wrapper">
                <!-- BEGIN MINI-PROFILE -->
<!--                 <div class="user-info-wrapper">
                    <img style="padding-top:14px;" src="/images/logo.png" alt="" data-src="/images/logo.png" width="140" />
                </div>

 -->

                <!-- END MINI-PROFILE -->

                <!-- BEGIN SIDEBAR MENU --> 
                <ul> 

                    <!-- END SELECTED LINK -->


                    <!-- END ONE LEVEL MENU -->
                    <!-- BEGIN TWO LEVEL MENU -->
                   <!--  <li class="">
                        <a href="#planning">
                            <i class="fa fa-calendar"></i>
                            <span class="title">Planning</span>
                        </a>
                    </li> -->
                    <!-- END TWO LEVEL MENU -->         
                </ul>
                <!-- END SIDEBAR MENU -->
                <!-- END SIDEBAR WIDGETS --> 

                <div class="user-info-wrapper user-show" ng-click="openStats=true">
                    <a ng-show="user.avatar.c && user.avatar.a" class="avatar" ng-class="user.avatar.c + ' avatar-'+user.avatar.a"></a>
                    <a ng-show="!user.avatar.c || !user.avatar.a" class="avatar black anonymous"></a>
                   <!--  <div class="user-info m-l-5">
                        <div class="username" ng-class="{small : getUsername().length > 12}">

                            <span>
                                {{ getUsername() }}
                            </span>

                        </div>
                        <div class="status">Status<a href="#">
                            <div class="status-icon green"></div>
                            Online</a>
                        </div>
                    </div> -->
                </div>

                <div class="clearfix"></div>
            </div>

        </div>
        <!-- END SIDEBAR --> 

        <div class="tools-wrapper" ng-click="closeMenu()">
            <% include viewer/resources %>

            <% include viewer/wall-questions %>

            <% include viewer/discussions %>

            <% include viewer/notes %>

            <% include viewer/quizz-list %>

            <% include viewer/quizz-inner %>

            <% include viewer/planning %>

        </div>

        <div class="menu-layer" ng-show="menulabel">
            <span class="menu-label">{{ menulabel }}</span>
        </div>

    </div>
    <!-- END PAGE CONTAINER-->
    <% include viewer/user-modal %>
</div>
<!-- END CONTENT --> 

