<div id="live-content" ng-controller="LiveController" class="content">
    <div class="slider-container">
        <div id="slides" class="presentation-slide fullscreen-slide">
            <div ng-repeat="slide in presentation.slides" class="slide slide-animation"
                 ng-class="'slide-index-' + $index"
                 ng-hide="!isCurrentSlide($index)"
                 ng-bind-html="::safeHTML(slide.content)"></div>
        </div>
    </div>

<% // Capture Hack %>
<% if( goTo ) { %>
    <div ng-init="noSocket = true" style="display: none;">
        <div ng-init="goToSlide(<%= goToSlide %>, true, 2500)"></div>
    </div>
<% } %>

</div>