body, html {min-height:550px; min-width:1024px;}
textarea {
    resize: none;
    border-radius: 0;
}

a {
	cursor: pointer;
}

.clear, .clearfix {clear: both;}
.fright {float:right;}

.modal .checkbox label {
	margin: 13px 10px 4px 25px;
}

.modal h4 {
	line-height: 2.5rem
}

.modal h4 i {
	font-size: 35px;
	vertical-align: -3px;
}

.checkbox input[type=checkbox]:checked + label::after {
	text-align: center;
	width: 17px;
}

.page-sidebar {
	margin-top:0;
	padding-bottom: 200px;
	position: absolute;
}

.page-sidebar .page-sidebar-wrapper {
	overflow-y: auto;
	width: 100%;
}

.page-sidebar .page-sidebar-wrapper > ul {
	margin-top: 18px;
}

.pace-done .page-container {
	opacity: 1;
}

.page-container {
	overflow: hidden;
	opacity: 0;
	transition: opacity 1s;
}

.page-content {
	width: 50%;
	margin-right: 0;
	margin-left: 0;
	overflow: visible;
	min-height: 0;
	height: 100%;
	background-color: #eceff1;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}


.page-content.nosider {
	margin-right: 0;
	
}

.page-content .content, .tools-content .content {
	padding: 0;
	position: absolute;
	height: 100%;
	transition: opacity 350ms;
	width: 100%;
	background-color: #eceff1;
	overflow: hidden;
}

.content .scroll-container {
    overflow: auto;
    height: calc(100% - 60px);
}

.tools-content {
	box-shadow: 1px -1px 10px -2px #676767;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

.tools-content .content {
	z-index: -1;
	background-color: #eceff1;
	opacity: 0;
}

.tools-content .content.active {
	z-index: 1;
	opacity: 1;
}

.page-content .content.current {
	z-index: 1;
}

.page-sidebar .page-sidebar-wrapper > ul > li > a i {
	font-size: 17px;
}

.page-sidebar .page-sidebar-wrapper > ul {
	margin-top: 0;
}

.page-title h3 {
	display: inline-block;
	top: -5px;
	position: relative;
	width: 83%;
	margin-bottom: 6px;
	margin-top: 15px;
	font-size: 23px;
	margin-left: 14px;
}

.page-title i {
	position: static;
}

.user-info-wrapper {
	margin: 0;
	padding: 0;
	height: 70px;
	width: 75px;
	text-align: center;
	float: right;
}

.user-info-wrapper a.avatar {
	width: 45px;
	height: 45px;
	float: left;
	margin: 8px 10px;
}

.user-info-wrapper .user-info .username {
	font-size: 16px;
}

.user-info-wrapper .user-info .username.small {
	font-size: 13px;
	margin-bottom: 7px;
}

.user-show {
	text-align: left;
	height: 70px;
	padding-top: 0px;
}

.user-show .user-info {
	margin-top: 7px;
}

.user-show span {
	color: #FFF;
}

.sider.right {
	left: 100%;
	display: block;
	width: 170px;
	padding-bottom: 54px;
	top: 0;
	position: absolute;
	bottom: 0;
	overflow: auto;
}

 .side-widget-title {
	color: #CCC;
	font-size: 12.5px;
	font-weight: 600;
	letter-spacing: 0.2px;
	padding-left: 31px;
	padding-right: 31px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 10px;
	font-family: 'Roboto';
}

.page-title {
	padding: 0px;
	letter-spacing: -1px;
	display: block;
	color: #666;
	margin: 0;
	font-weight: 300;
	font-family: 'Roboto';
	background: #FFF;
}

.header {
	position: static;
	min-height: 56px;
}

.header .navbar-inner {
	min-height: 55px;
	background-color: #263238;
}

.header .navbar-inner h3 {
	margin: 15px 0;
	font-size: 25px;
	color: #fcfcfc;
}

.header .navbar-inner h3 i {
	font-size: 0.9em;
	margin-left: 25px;
	margin-right: 15px;
	float: left;
}

.tabs {
	margin-bottom: 20px;
}

.tabs li.tab a {
	color : #26a69a;
}

.tabs li.tab a:hover {
	color: #b2dfdb;
}

.tabs .indicator {
	background-color : #26a69a;
}

.footer-widget, .page-sidebar, .page-sidebar ul {
	width: 100%;
	position: absolute;
	background-color: #263238;
	padding: 5px 10px;
	z-index: 9;
}

.footer-widget .details-status {
	left: -6px;
}

.boxshadow {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(150, 150, 150, 0.1);
	-moz-box-shadow:    0px 0px 5px 0px rgba(150, 150, 150, 0.1);
	box-shadow:         0px 0px 5px 0px rgba(150, 150, 150, 0.1);
}

#logout-modal {
	width: 540px;
}

#logout-modal .card-content .card-title {
	font-size: 22px;
}

#logout-modal.card a {
	color: #FFF;
}

#answer-modal {
	width: 475px;
}

#answer-modal.card a {
	color: #FFF;
}
/* --- LIVE --- */

.live-header {
	height: 58px;
	-webkit-transition: height .5s ease;
	-moz-transition: height .5s ease;
	transition: height .5s ease;
	overflow: hidden;
}

.fullscreen .live-header {
 height: 0;
}

.live-header h3{
	float: left;
	margin: 15px 0;
	font-size: 25px;
	margin-left: 20px;
}

.live-header img{
	float: right;
	margin: 8px 20px;
}

.live-info {
    font-size: 0.9rem;
    font-weight: 300;
}

#live-content {
	display: block;
	margin: 0 auto;
}

.black-bg {
	background-color: #000;
}

.black-bg .page-content {
	background-color: #000;
}

#slides {
	margin: 0 auto;
    width: 2048px;
    height: 1536px;
    z-index: 9;
	position: relative;
    overflow: hidden;
	-webkit-transition: transform .4s ease;
	-moz-transition: transform .4s ease .1s;
	transition: transform .4s ease;
}

.slider-container {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

.select-wrapper input.select-dropdown {
	color: #fff;
}

#slides .slide {
    position: absolute;
	height: 100%;
	width: 100%;
    top: 0;
    left: 0;
}

#slides .slide img {
	height: 100%;
	width: 100%;
}

.chat-area {
	height: calc(100% - 155px);
	overflow-y: auto;
	box-shadow: -4px -6px 10px -10px #676767 inset;
}

.send-chat {
	position: absolute;
	bottom: -6px;
	right: 8px;
}

.chat-window-wrapper .user-details-wrapper {
	padding: 0;
	margin: 12px;
	clear: both;
	margin-bottom: 0px;
	margin-top: 5px;
	position: relative;
}

.chat-window-wrapper .user-details-wrapper > .user-details {
	margin-left: 50px;
}

.chat-window-wrapper .user-details-wrapper.pull-right > .user-details {
	float: right;
	margin-right: 50px;
}

.chat-window-wrapper .user-details-wrapper > .user-profile.ownm {
	position: absolute;
	margin: 3px 0px 0 15px;
	right: 0;
	left: inherit;
	top: 30px;
}

.chat-window-wrapper .user-details-wrapper > .user-profile {
	left: 0;
	top: 32px;
	position: absolute;
}

.fullscreen .live-thumb {
	bottom: -100px; 
}

.fullscreen.showcontrol .footer-widget {
	bottom: 0;
}

.fullscreen .footer-widget {
	-webkit-transition: bottom .5s ease;
	-moz-transition: bottom .5s ease;
	transition: bottom .5s ease;
	bottom: -50px;
}


.live-thumb {
	background-color: #37474f;
	padding: 10px;
	overflow-x:scroll;
	position: absolute;
	width: 100%;
	bottom: 38px;
	-webkit-transition: bottom .5s ease;
	-moz-transition: bottom .5s ease;
	transition: bottom .5s ease;
}
.live-thumb .dot-item {
	position: relative;
	width: 90px;
	float: left;
	margin-right: 10px;
}

.live-thumb .dot-item img {
	width: 100%;
}

.live-thumb  .dot-item:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(50,50,50,0.3);
	transition: background-color 400ms;
}

.live-thumb  .dot-item.active:after {
	background: none;
}

.live-thumb  .dot-item-video:before {
	content: "\f04b";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	color: rgba(10, 166, 153, 0.6);
	text-align: center;
	font-size: 45px;
	position: absolute;
	width: 100%;
	line-height: 45px;
	top: 50%;
	margin-top: -23px;
}
.info-slides {
	height: 155px;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 0 20px;
}

.chat-input {
	position: fixed;
	width: 48%;
	bottom: 10px;
}

.chat-input .input-field {
	padding-right: 172px;
}

.chat-input .input-field input[type=text].valid {
	border-bottom: 1px solid #26a69a;
	-webkit-box-shadow: 0 1px 0 0 #26a69a;
	-moz-box-shadow: 0 1px 0 0 #26a69a;
	box-shadow: 0 1px 0 0 #26a69a;
}

.chat-input input {
	padding-left: 15px;
}

.chat-input .input-field label.active {
	background-color: #ECEFF1; 
	padding: 5px 25px;
	left: 0;
	top: 23px;
	border-radius: 45%
}

.chat-input textarea:focus {
	background: #ECEFF1;
}

.bubble {
	width: 101%;
	background-color: #cfd8dc;
}


.bubble:after {
	border-color: transparent #CFD8DC;
}

.counter {
	color: #22262e;
	font-weight: 100;
	text-align: center;
	font-family: 'Roboto';
	display: inline-block;
	padding: 0;
	text-align: center;
	font-size: 16px;
	line-height: 50px;
	padding-right: 24px;
	padding-bottom: 4px;
	position: absolute;
	bottom: 50px;
}

.counter i {
	color: #22262e;
	margin-left: 4px;
	font-size: 16px;
} 

/* ---- NOTES ---- */

#text-editor {
	margin: 8px auto 0 auto;
	width: 98.5%;
	height: calc(100% - 128px);
	background: transparent;
	border: none;
	color: #22262e;
	border-radius: 0;
}

#text-editor:focus {
	outline: none;
	border: 0;
}

.send-note {
	position: absolute;
	top: 12px;
	right: 128px;
}

.page-loader {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -52px;
	margin-top: -116px;
	z-index: 999;
	-webkit-animation: logo-loader ease 1000ms infinite; /* Chrome, Safari, Opera */
    animation: logo-loader ease 1000ms infinite;
}

@-webkit-keyframes logo-loader {
    0% {margin-top: -116px;}
    50% {margin-top: -105px;}
    100% {margin-top: -116px;}
}

/* Standard syntax */
@keyframes logo-loader {
	0% {margin-top: -116px;}
	50% {margin-top: -105px;}
	100% {margin-top: -116px;}
}

.pace-done .login-container {
	opacity: 1;
	z-index: 9999;
	margin-top: 10%;
	-moz-transition: all 600ms ease;
	-webkit-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
}


.login-container {
	z-index: -1;
	position: absolute;
	width: 100%;
	opacity: 0;
	margin-top: 8%;
}

.login-container .tiles {
	width: 560px;
	margin-left: auto;
	margin-right: auto;
}

.timeline {
	height: calc(100% - 164px);
	overflow-y: auto;
}

.timeline-post {
	height: 54px;
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	background-color: #22262e;
}

.timeline-post .select2-choices {
	border-radius: 0;
	border: 0;
	background: #FEFEFE;
	-webkit-transition:all linear 0.3s;
	transition:all linear 0.3s;
}

.timeline-post:hover .select2-choices {
	background-color: #365d98;
}

.timeline-post:hover .select2-container-multi .select2-choices .select2-search-field input {
  	color: #EFEFEF!important;
}

.modal-body.ask-question textarea {
	width: 100%;
	border:0;
	height: 128px;
	border-radius: 0;
	margin-top: 10px;
	color: #000;
}

.timeline-search {
	padding: 2px 19px 10px 28px;
	background-color: #37474F;
}

.timeline-search .select-wrapper span.select-dropdown  {
	margin-bottom: 0;
	height: 2.8rem;
	font-size: 0.9rem;
	color: #FFF;
	border-color: #FFF;
}

.timeline-post .btn {
	margin-top: 9px;
}

.dropdown-content li {
	font-size: 14px;
	line-height: 14px;
}

.cbp_tmtimeline > li .cbp_tmlabel {
	margin-left: 90px;
	margin-right: 15px;
	border-right: 2px solid #099a8c;
}

.cbp_tmtimeline > li .cbp_tmlabel h4 {
	font-size: 16px;
}

.cbp_tmtimeline > li p {
	font-size: 12px;
}

.cbp_tmtimeline > li .cbp_tmlabel .close {
	position: absolute;
	top: 3px;
	right: 6px;
}

.cbp_tmtimeline > li .cbp_tmlabel .close i {
	font-size: 19px;
}

.cbp_tmtimeline:before {
	width: 6px;
	left: 47px;
	bottom: 110px;
}

.cbp_tmtimeline .action-links li:after {
	content: "";
}

.transparent .input-group-addon {
	padding: 8px 11px 10px 11px;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0px;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:800px;}

  .wall-content .page-title {
  	margin-bottom: 0;
  }

  .wall-content .send-wall-question {
  	position: relative;
  	top: 5px;
  	bottom: 5px;
  	height: 44px;
  	width: 50%;
  }

  .select2-container-multi .select2-choices .select2-search-field input {
  	height: 28px;
  }

  .select2-container-multi .select2-choices {
  	border: 0;
  	border-bottom: 1px solid #9E9E9E;
  	background-color: transparent;
  	border-radius: 0;
  }

  .select2-results .select2-highlighted {
  	background-color: #26A69A;
  }

  .askModal .select-wrapper span.select-dropdown {
  	display: none;
  }

  .askModal .select2-container {
  	width: 93%;
  	float: right;
  	margin-top: 5px;
  }
/* ----------- MASTER ----------- */


.page-container.master .page-content {
	margin-left: 170px;
	margin-right: 170px;
	width: calc(100% - 340px);
}

.page-container.master .next-slide i, 
.page-container.master .previous-slide i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -60px;
	font-size: 5rem;
}

.page-container.master .next-slide {
	width: 170px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	cursor: pointer;
}


.page-container.master .previous-slide {
	width: 170px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	cursor: pointer;
}

.page-container.master .slides-nav-container {
	height: 140px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.page-container.master .slides-nav {
	
	height: 140px;
	background: #22262e;
	overflow: hidden;
	overflow-x: auto;
}

.page-container.master .slides-nav .slides-nav-wrapper {
	height: 140px;
	font: 0/0 a;
	margin-left: 64px;
	position: relative;
}

.page-container.master .slides-nav .slides-nav-wrapper:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.page-container.master .slides-nav .slides-nav-wrapper .dot-item {
	display: inline-block;
	margin-left: 15px;
	width: 160px;
	vertical-align: middle;
}

.page-container.master .slides-nav .slides-nav-wrapper .dot-item img {
	width:100%;
}

.page-container.master .slides-nav-prev {
	position: absolute;
	bottom: 0;
	top: 0;
	width: 40px;
	height: auto;
	left: 0;
	border-radius: 0;
	margin: 0;
}
.page-container.master .slides-nav-next {
	position: absolute;
	bottom: 0;
	top: 0;
	width: 40px;
	height: auto;
	right: 0;
	border-radius: 0;
	margin: 0;
}

.page-container.master .slides-nav-prev i, .page-container.master .slides-nav-next i{
	position: absolute;
	top: 50%;
	margin-top: -16px;
	left: 50%;
	margin-left: -10px;
}

.page-container.master .page-title {
	margin-bottom:0px;
	padding-left: 75px;
	position: relative;
}

.page-container.master .liveorask {
	font-size: 0;
	margin: 10px 0;

}

.page-container.master .liveorask > div {
	width: 50%;
	display: inline-block;
	color: #8e9aa2;
	padding: 20px 20px;
	background-color: #d1dade;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
}

.page-container.master .liveorask > div.active {
	background-color: #EFEFEF;
	color: #333;
}

.page-container.master .liveorask .livetab {

}

.page-container.master .listner {
	border-radius: 0;
	position: absolute;
	left: 0;
	top: 0;
	height: 51px;
	bottom: 0;
	width: 60px;
	padding: 0px;
	text-align: center;
	margin: 0;
}

.page-container.master .listner i {
	color: #FFF;
	width: 100%;
		-webkit-animation: listner-beat 800ms infinite; /* Chrome, Safari, Opera */
	    animation: listner-beat 800ms infinite;
}

	@-webkit-keyframes listner-beat {
	    0% {margin-top: 7px;}
	    50% {margin-top: 9px;}
	    100% {margin-top: 7px;}
	}

	/* Standard syntax */
	@keyframes listner-beat {
	    0% {margin-top: 7px;}
	    50% {margin-top: 9px;}
	    100% {margin-top: 7px;}
	}

.page-container.master .page-title .speaker-time 
{
	float: right;
	margin-right: 20px;
	margin-top: 6px;
	font-size: 19px;
}

.page-container.master .wall {
	height: calc(100% - 282px);
	overflow-y: auto;
}

.page-container.master .wall .dd {
	width: 100%;
	max-width: none;
}

.page-container.master .wall .dd .dd-item {
	background-color: #FFF;
	margin: 10px;
}
 .page-container.master .wall .dd-list {
 	padding: 0;
 }
.page-container.master .wall .dd .dd-item .avatar {
	float: left;
	margin: 16px 15px 0px 15px;
	width: 45px;
	height: 45px;
}

.page-container.master .wall .dd .dd-item .tiles {
	padding: 0;
	background-color:#2d3139;
}

.page-container.master .wall .dd .dd-item .tiles.favorite {
	background-color: #099a8c;
}

.page-container.master .wall .dd .dd-item .tiles.favorite i.mdi-action-star-rate {
	color: yellow;
}

.page-container.master .wall .dd .dd-item .action-links {
	list-style: none;
	padding: 0;
}

.page-container.master .wall .dd .dd-item .action-links span {
	padding-left: 10px;
	line-height: 35px
}

.page-container.master .wall .dd .dd-item .action-links button {
	border-radius: 0;
	margin: 0;
	float: left;
}

.page-container.master .wall .dd .dd-item h4 {
	margin-top: 0;
}
.page-container.master .wall .dd .dd-handle {
	height: auto;
	padding: 0;
	list-style: none;
}

.page-container.master .wall .dd .wall-username {
	font-size: 18px;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	background: rgba(0,0,0,0.85)
}

#userinfo-modal {
	top: 20px;
	max-height: 700px;
	padding: 0;
	width: 600px;
}

#userinfo-modal:not(.ng-hide) {
	display: block;
}

#userinfo-modal .modal-header {
	padding: 25px;
	text-align: left;
}

#userinfo-modal .row {
	margin-bottom: 0;
}

#userinfo-modal .modal-header h4 {
	font-size: 22px;
	line-height: 25px;
}

#userinfo-modal .panel.selected .panel-heading{
	background: #099a8c;
}

#userinfo-modal .panel .panel-body {
	padding-top: 5px;
}

#userinfo-modal label[for=checkbox-anonyme], #userinfo-modal label[for=checkbox-pseudo] {
	font-size: 14px;
	color: #5A5A5A;
}

#userinfo-modal .panel.selected h4 a, #userinfo-modal .panel.selected h4 a:after, 
#userinfo-modal .panel.selected .panel-title > a:hover, #userinfo-modal .panel.selected .panel-title > a:hover:after {
	color: #FFF!important;
}

#userinfo-modal .panel-heading .panel-title > a.collapsed {
	color: #505458;
}

#userinfo-modal input {
	width: 100%;
}

#userinfo-modal ul {
	list-style: none;
	margin: 0;
	box-shadow: none;
	border-left: 0;
	border-right: 0;
}

#userinfo-modal .panel h4 {
	font-size: 15px;
}

#userinfo-modal .avatar-choice > a.avatar {
	float: left;
	webkit-transition: background-color 0.3s ease-out;
	-moz-transition: background-color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out;
	-ms-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}

#userinfo-modal .avatar-choice {
	position: absolute;
}

#userinfo-modal .avatar-choice .avatar-choice-list {
	width: 470px;
	padding: 15px;
	background: #FFF;
	position: absolute;
	z-index: 99;
	bottom: 0px;
	left: 90px;
}

#userinfo-modal .avatar-choice .avatar-choice-list li {
	display: inline-block;
	width: 70px;
	height: 70px;
	padding: 0;
}

#userinfo-modal .avatar-choice .avatar-choice-list li .avatar:hover {
	background-color: #099a8c;
}

#userinfo-modal .color-choice {
	margin-top: 10px;
	margin-right: 22px;
	margin-bottom: 15px;
	float: right;
}

#userinfo-modal .btn-avatar {
	position: absolute;
	height: 30px;
	width: 30px;
	left: 47px;
	top: -7px;
}

#userinfo-modal .btn-avatar i {
	line-height: 30px;
}

#userinfo-modal .color-choice li.selected {
	margin-top: -4px;
}

#userinfo-modal .color-choice li {
	width: 40px;
	height: 40px;
	display: inline-block;
	cursor: pointer;
	border: 1px solid #FFF;
	float: left;
	margin-left: 10px;
	margin-top: 0;
	transition : margin 100ms linear;
}

#userinfo-modal .use-username.s1 label {
	width: 0;
	overflow: hidden;
}

.modal.ng-show {
	opacity: 1;
	top: 10%;
	display: block;
}
/* ----------- AVATARS ----------- */

.avatar {
	background: url("/images/profiles/avatars.png");
	width: 60px;
	height: 60px;
	overflow: hidden;
	display: block;
	background-size: 600% 300%;
	    border-radius: 50%;

}

.avatar.anonymous {
	background: url("/images/profiles/anonyme.png") no-repeat center;
	background-size: 84%;
}

.avatar.anonymous i{
	font-size: 2.8em;
	color: #FFF;
	line-height: 45px;
	width: 45px;
	text-align: center;
}

.avatar.red {
	background-color: #f35958;
}

.avatar.purple {
  background-color: #735f87;
}
.avatar.blue {
  background-color: #0090d9;
}
.avatar.green {
  background-color: #0aa699;
}
.avatar.black {
  background-color: #1b1e24;
}
.avatar.dark-blue {
  background-color: #365d98;
}
.avatar.light-blue {
  background-color: #00abea;
}
.avatar.light-red {
  background-color: #f96773;
}
.avatar.grey {
  background-color: #e9ecee;
}
.avatar.gradient-grey {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(131, 131, 131, 0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(131, 131, 131, 0.65)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(131, 131, 131, 0.65) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(131, 131, 131, 0.65) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(131, 131, 131, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(131, 131, 131, 0.65) 100%);
}
.avatar.gradient-black {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}

.avatar.avatar-m1 {background-position: 0px 0px;}
.avatar.avatar-m2 {background-position: 0px calc(100%/2);}
.avatar.avatar-m3 {background-position: 0px 100%;}
.avatar.avatar-m4 {background-position: -100% 0px;}
.avatar.avatar-m5 {background-position: -100% calc(100%/2);}
.avatar.avatar-m6 {background-position: -100% 100%;}
.avatar.avatar-m7 {background-position: -200% 0px;}
.avatar.avatar-m8 {background-position: -200% calc(100%/2);}
.avatar.avatar-m9 {background-position: -200% 100%;}

.avatar.avatar-f1 {background-position: -300% 0px;}
.avatar.avatar-f2 {background-position: -300% calc(100%/2);}
.avatar.avatar-f3 {background-position: -300% 100%;}
.avatar.avatar-f4 {background-position: -400% 0px;}
.avatar.avatar-f5 {background-position: -400% calc(100%/2);}
.avatar.avatar-f6 {background-position: -400% 100%;}
.avatar.avatar-f7 {background-position: -500% 0px;}
.avatar.avatar-f8 {background-position: -500% calc(100%/2);}
.avatar.avatar-f9 {background-position: -500% 100%;}

ul.messenger.messenger-fixed.messenger-on-top, ul.messenger.messenger-fixed.messenger-on-bottom {
	width: 53%;
	margin-left: -25%;
}

.previous-quizz {
	float: left;
	line-height: 60px;
	padding:0;
	width: 56px;
	border-radius: 0;
	height: 62px;
	margin: 0;

	color: #FFF;
	background-color: #26a69a;
	text-align: center;
	letter-spacing: 0.5px;
	cursor: pointer;
}

.previous-quizz i {
	font-size: 2.8em;
}

.quizz-content .card {
	padding: 0;
	margin: 2%;
	margin-right: 0;
	width: 47%;
	display: inline-table;
}

.quizz-content .card .card-image {
	background-color: #26a69a;
	height: 68px;
}

.quizz-content .card .card-image .card-title {
	font-size: 20px;
}

.quizz-content .card.open .card-image {
	background-color: rgb(22, 107, 162);
}

.quizz-content .card .card-image i {
	float: right;
	font-size: 2.6em;
	color: #FFF;
	margin-right: 8px;
}

/**************** V2 *****************/

.tools-content {
	width: 50%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
}

.open  .tools-content {
	top: 135px;
}

.footer-widget .progress {
	width: calc(100% - 80px);
}

.footer-widget .fullscreen i {
	font-size: 30px;
	line-height: 14px;
	vertical-align: middle;
	color: #FFF;
}
/*  MENU */

div#menu {
	position: absolute;
	width: 50%;
	top: -135px;
	right: 0;
	-webkit-transition: top .5s ease 0, width .5s ease 0;
	-moz-transition: top .5s ease 0, width .5s ease 0;
	-o-transition: top .5s ease 0, width .5s ease 0;
	-ms-transition: top .5s ease 0, width .5s ease 0;
	transition: top .5s ease 0, width .5s ease 0;
	z-index: 99;
}

.open div#menu {
	top: 0;

} 

div#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.5em;
	font-weight: 300;
}

div#menu li span {
	display: block;
}

div#menu a {
	display: block;
	color: rgba(249, 249, 249, .9);
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s, border .5s!important;
	-moz-transition: color .5s, background .5s, height .5s, border .5s!important;
	-o-transition: color .5s, background .5s, height .5s, border .5s!important;
	-ms-transition: color .5s, background .5s, height .5s, border .5s!important;
	transition: color .5s, background .5s, height .5s, border-width .5s!important;
}

div#menu i{
	/* Make the font smoother for Chrome */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */

a, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Hover effect for the whole navigation to make the hovered item stand out */

.no-touch div#menu ul:hover a {
	color: rgba(249, 249, 249, .5);
}

.no-touch div#menu ul:hover a:hover {
	color: rgba(249, 249, 249, 0.99);
}

/* Adding some background color to the different menu items */

div#menu li:nth-child(6n+1) {
	background: rgb(208, 101, 3);
}

div#menu li:nth-child(6n+2) {
	background: rgb(233, 147, 26);
}

div#menu li:nth-child(6n+3) {
	background: rgb(22, 145, 190);
}

div#menu li:nth-child(6n+4) {
	background: rgb(22, 107, 162);
}

div#menu li:nth-child(6n+5) {
	background: rgb(27, 54, 71);
}

div#menu li:nth-child(6n+6) {
	background: rgb(21, 40, 54);
}


	/* Transforms the list into a horizontal navigation */
	div#menu li {
		float: left;
		width: 16.6666666667%;
		text-align: center;
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
		padding: 0;
	}

	div#menu a {
		display: block;
		width: auto;
	}

	/* hover, focused and active effects that add a little colored border to the different items */
	.no-touch div#menu li:nth-child(6n+1) a:hover,
	.no-touch div#menu li:nth-child(6n+1) a:active,
	.no-touch div#menu li:nth-child(6n+1) a:focus {
		border-bottom: 4px solid rgb(174, 78, 1);
	}

	.no-touch div#menu li:nth-child(6n+2) a:hover,
	.no-touch div#menu li:nth-child(6n+2) a:active,
	.no-touch div#menu li:nth-child(6n+2) a:focus {
		border-bottom: 4px solid rgb(191, 117, 20);
	}

	.no-touch div#menu li:nth-child(6n+3) a:hover,
	.no-touch div#menu li:nth-child(6n+3) a:active,
	.no-touch div#menu li:nth-child(6n+3) a:focus {
		border-bottom: 4px solid rgb(12, 110, 149);
	}

	.no-touch div#menu li:nth-child(6n+4) a:hover,
	.no-touch div#menu li:nth-child(6n+4) a:active,
	.no-touch div#menu li:nth-child(6n+4) a:focus {
		border-bottom: 4px solid rgb(10, 75, 117);
	}

	.no-touch div#menu li:nth-child(6n+5) a:hover,
	.no-touch div#menu li:nth-child(6n+5) a:active,
	.no-touch div#menu li:nth-child(6n+5) a:focus {
		border-bottom: 4px solid rgb(16, 34, 44);
	}

	.no-touch div#menu li:nth-child(6n+6) a:hover,
	.no-touch div#menu li:nth-child(6n+6) a:active,
	.no-touch div#menu li:nth-child(6n+6) a:focus {
		border-bottom: 4px solid rgb(9, 18, 25);
	}

	/* Placing the icon */
	
	.icon {
		padding-top: 1.4em;
	}

	.icon + span {
		margin-top: 2.1em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Animating the height of the element*/
	div#menu a {
		height: 135px;
	}

	div#menu a .avatar {
		display: block;	
	}

	div#menu ul {
		font-size: 1.15em;
	}

	div#menu ul li a span:not(.icon){
		font-size: 13px;
	}

	.no-touch div#menu a:hover ,
	div#menu a:active ,
	div#menu a:focus {
		height: 145px;
	}	

	/* Making the text follow the height animation */
	.no-touch div#menu a:hover .icon + span {
		margin-top: 3.2em;
		-webkit-transition: margin .5s;
		-moz-transition: margin .5s;
		-o-transition: margin .5s;
		-ms-transition: margin .5s;
		transition: margin .5s;
	}

	/* Positioning the icons and preparing for the animation*/
	div#menu i {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0.1em 0.3em;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		font-size: 2.1em;
		box-shadow: 0 0 0 30px transparent;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition: box-shadow .6s ease-in-out;
		-moz-transition: box-shadow .6s ease-in-out;
		-o-transition: box-shadow .6s ease-in-out;
		-ms-transition: box-shadow .6s ease-in-out;
		transition: box-shadow .6s ease-in-out;
	}	
	
	div#menu i:not(.avatar) {
		background-color: rgba(255,255,255,0.1);
	}

	/* Animate the box-shadow to create the effect */
	.no-touch div#menu a:hover i,
	.no-touch div#menu a:active i,
	.no-touch div#menu a:focus i {		
		box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
		-webkit-transition: box-shadow .4s ease-in-out;
		-moz-transition: box-shadow .4s ease-in-out;
		-o-transition: box-shadow .4s ease-in-out;
		-ms-transition: box-shadow .4s ease-in-out;
		transition: box-shadow .4s ease-in-out;
	}
		

@media (max-width: 1200px) {

	.icon {
		padding-top: 10px;
	}

	div#menu a {
		height: 70px;
	}

	div#menu li span:not(.icon) {
		display: none;
	}

	.open .tools-content {
		top: 70px;
	}

	.no-touch div#menu a:hover ,
	div#menu a:active ,
	div#menu a:focus {
		height: 80px;
	}

	.quizz-content .card {
		margin: 3%;
		width: 94%;
	}
}

.fullscreen .bt-menu-trigger {
	right: -100px;
}

.bt-menu-trigger {
	position: absolute;
	top: 5px;
	right: 10px;
	display: block;
	width: 105px;
	height: 50px;
	cursor: pointer;
	z-index: 9;
	-webkit-transition: right .4s ease;
	-moz-transition: right .4s ease;
	-o-transition: right .4s ease;
	-ms-transition: right .4s ease;
	transition: right .4s ease;
}

.bt-menu-trigger > span.bt-menu-cross {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 42px;
	height: 4px;
	margin-top: -2px;
	background-color: #fff;
	font-size: 0px;
	user-select: none;
    -ms-transition: background-color 0.3s; /* IE 9 */
    -webkit-transition : background-color 0.3s;
	transition: background-color 0.3s;
}

.bt-menu-trigger > span.bt-menu-label {
	float: right;
    margin-top: 8px;
    font-size: 1.4rem;
    font-weight: 300;
	color: #fff;
}

.bt-menu-trigger span .before,
.bt-menu-trigger span .after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: '';
    -webkit-transition: transform 0.3s linear;
    transition: transform 0.3s;
}

.open .bt-menu-trigger > span {
    background-color: transparent;
}

.bt-menu-trigger span .before {
	-ms-transform: translateY(-250%); /* IE 9 */
    -webkit-transform : translateY(-250%);
    transform: translateY(-250%);
}
 
.bt-menu-trigger span .after {
    transform: translateY(250%);
    -ms-transform: translateY(250%); /* IE 9 */
    -webkit-transform : translateY(250%);
}

.open .bt-menu-trigger span .before {
    transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg); /* IE 9 */
    -webkit-transform : translateY(0) rotate(45deg);
}
 
.open .bt-menu-trigger span .after {
    transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg); /* IE 9 */
    -webkit-transform : translateY(0) rotate(-45deg);
}

.fullscreen div#menu {
	width: 0;
}

/* END MENU */

.fullscreen .page-content {
	width: 100%;
}

.fullscreen .tools-content {
	width: 0;
	opacity: 0;
}

.fullscreen-toast {
	bottom: -100px;
	position: absolute;
	right: 10px;

	-webkit-transition: bottom .4s ease;
	-moz-transition: bottom .4s ease;
	-o-transition: bottom .4s ease;
	-ms-transition: bottom .4s ease;
	transition: bottom .4s ease;
}

.fullscreen-toast .toast {
	background-color: #263238;
}

.fullscreen.showcontrol .fullscreen-toast {
	bottom: 50px;
}

.quicklinks > .dropdown-toggle >  .dropdown-menu { 
	margin-right: 10px;
}

.quizz-inner-content h3 {
	font-size: 1.32rem;
	margin-top: 25px;
	margin-bottom: 15px;
}

.quizz-inner-content h4 {
  font-size: 1.1rem;
  margin-top: 25px;
  margin-bottom: 15px;
}

.ressources-content .resources-categories {
	display: block;
}

.ressources-content .resources-categories h4 {
	font-size: 1.8em;
	padding: 10px;
	margin: 0px;
	background: rgb(255, 255, 255);
	border-left: 2px solid rgb(9, 154, 140);
}

.ressources-content .resource-item {
	float: left;
	width: 115px;
	padding: 15px;
	text-align: center;
	border-left: 2px solid transparent;
	cursor: pointer;
}

.ressources-content .resource-item:hover {
	background-color: #EFEFEF;
	border-left: 2px solid #099a8c;
}

.ressources-content .resource-item span{
	display: block;
	margin-top: 8px;
}

.ressources-content .resource-item img {
	width: 100%;
}

.connection-bar {
	display: none;
	height: 0;
}

.connection-bar span {
  	margin-left: 18px;
  	float: left;

	font-size: 1.3rem;
  	line-height: 3rem;
  	color: #fff;
}

.connection-bar a {
	margin-top: 2px;
	float: right;

	height: 38px;
  	line-height: 38px;
}

.pace-done .connection-bar {
	display: block;
	height: 64px;
	padding: 9px 32px;
}

.connection-bar.warn {
	background-color: #ffa726;
}

.connection-bar.infos {
	background-color: #8bc34a;
}